In [1]:
import pandas as pd

# Creating a sample dataset of an imaginary AI Research Team
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Henry'],
    'Department': ['Engineering', 'Data Science', 'Engineering', 'Data Science', 'HR', 'Engineering', 'Data Science', 'HR'],
    'Salary': [85000, 92000, 88000, 95000, 60000, 105000, 91000, 62000],
    'Years_Exp': [3, 5, 4, 7, 2, 10, 5, 3],
    'Remote': [True, False, True, True, False, False, True, False]
}

df = pd.DataFrame(data)

# Save it to your computer as a CSV
df.to_csv('practice_data.csv', index=False)

print("File 'practice_data.csv' has been created!")

File 'practice_data.csv' has been created!

In [2]:
# # Challenge A (The High Earners): Find all employees in the 'Data Science' department who earn more than 90,000.

high_earners = df[(df['Department'] == 'Data Science') & (df['Salary'] > 90000)]
print(high_earners)

   Employee_ID   Name    Department  Salary  Years_Exp  Remote
1          102    Bob  Data Science   92000          5   False
3          104  David  Data Science   95000          7    True
6          107  Grace  Data Science   91000          5    True

In [3]:
# # Challenge B (The Veterans): Sort the entire list by 'Years_Exp' in descending order (most experienced at the top).
# # If two people have the same experience, sort them by 'Salary' ascending.


# # We pass a LIST of columns and a LIST of directions
the_veterans = df.sort_values(by=['Years_Exp', 'Salary'], ascending=[False, True])

print(the_veterans)

   Employee_ID     Name    Department  Salary  Years_Exp  Remote
5          106    Frank   Engineering  105000         10   False
3          104    David  Data Science   95000          7    True
6          107    Grace  Data Science   91000          5    True
1          102      Bob  Data Science   92000          5   False
2          103  Charlie   Engineering   88000          4    True
7          108    Henry            HR   62000          3   False
0          101    Alice   Engineering   85000          3    True
4          105      Eve            HR   60000          2   False

In [4]:
# # Challenge C (Remote Engineers): Filter for people who are in 'Engineering' AND work 'Remote'.

Remote_Engineers = df[(df['Department'] == 'Engineering') & (df['Remote'] == True)]

In [5]:
subset = df.iloc[0, :]
print(subset)

subset1 = df.loc[0:3,['Name','Salary']]
print(subset1)

names = df.loc[df['Years_Exp'] > 5, 'Name']
print(names)

Employee_ID            101
Name                 Alice
Department     Engineering
Salary               85000
Years_Exp                3
Remote                True
Name: 0, dtype: object
      Name  Salary
0    Alice   85000
1      Bob   92000
2  Charlie   88000
3    David   95000
3    David
5    Frank
Name: Name, dtype: object

In [6]:
#Use .iloc to grab the last 2 rows and the first 3 columns.

subsety = df.iloc[-3:-1, 0:3]
print(subsety)

   Employee_ID   Name    Department
5          106  Frank   Engineering
6          107  Grace  Data Science

In [7]:
# Use .loc to find the Salary and Remote status of only 'Alice' and 'Charlie'.

namesy = df.loc[df['Name'].isin(['Alice','Charlie']), ['Remote']]
print(namesy)

   Remote
0    True
2    True

In [8]:
# Calculate the average salary for each department
avg_salary = df.groupby('Department')['Salary'].mean()

print(avg_salary)

Department
Data Science    92666.666667
Engineering     92666.666667
HR              61000.000000
Name: Salary, dtype: float64

In [9]:
# Getting a detailed summary of experience by department
exp_summary = df.groupby('Department')['Years_Exp'].agg(['min', 'max', 'mean'])

print(exp_summary)

              min  max      mean
Department
Data Science    5    7  5.666667
Engineering     3   10  5.666667
HR              2    3  2.500000

In [17]:
# Question B: What is the Total Salary spent on each Department?
total_salary = df.groupby('Department')['Salary'].sum()
print(total_salary)

Department
Data Science    278000
Engineering     278000
HR              122000
Name: Salary, dtype: int64

In [16]:
# Question A: How many Remote vs. Non-Remote employees are there?

remote_counts = df.groupby('Remote').size()
print(remote_counts)

Remote
False    4
True     4
dtype: int64

In [18]:
# Grouping by two levels
deep_analysis = df.groupby(['Department', 'Remote']).size()

print(deep_analysis)

Department    Remote
Data Science  False     1
              True      2
Engineering   False     1
              True      2
HR            False     2
dtype: int64

In [26]:
# Find the Average Years of Experience for only the 'Engineering' department, but group the result by whether they are Remote or not.
# 1. Filter: Get only the Engineering rows
engineering_only = df[df['Department'] == 'Engineering']

# 2. Group & Calculate: Group the filtered data by 'Remote' and find the mean
result = engineering_only.groupby('Remote')['Years_Exp'].mean()

print("Average Years of Experience in Engineering:")
print(result)

Average Years of Experience in Engineering:
Remote
False    10.0
True      3.5
Name: Years_Exp, dtype: float64

In [27]:
# This returns a count of missing values for every column
print(df.isnull().sum())

Employee_ID    0
Name           0
Department     0
Salary         0
Years_Exp      0
Remote         0
dtype: int64

In [28]:
# Step 1: Calculate the average of the column
# Pandas automatically ignores NaNs when calculating the mean
avg_exp = df['Years_Exp'].mean()

# Step 2: Fill the NaNs with that average
# We assign it back to the column to save the changes
df['Years_Exp'] = df['Years_Exp'].fillna(avg_exp)

print(f"Filled missing values with: {avg_exp}")

Filled missing values with: 4.875

In [38]:
# 1. Filter: Use the mask inside df[...] to keep the actual data
filtered_df = df[df['Years_Exp'] > 3]

# 2. Group: Group the filtered data by Department and pick the max Salary
# 3. Sort: Use sort_values on the resulting numbers
final_report = filtered_df.groupby('Department')['Salary'].max().sort_values(ascending=False)

print(final_report)

Department
Engineering     105000
Data Science     95000
Name: Salary, dtype: int64